---
import { Image } from 'astro:assets';
import ServiceLayout from '../../../layouts/ServiceLayout.astro';
import availabilityImage from '../../../assets/images/fleet/383-services.jpg';
---

<ServiceLayout
  title="Availability | Aviemore Taxis"
  description="The only taxi service in the Aviemore area you can rely on whenever you need us, including all public holidays."
  heading="Reliable Service"
  intro="Whatever time you need us, we're there."
>
  <Image
    src={availabilityImage}
    alt="An Aviemore Taxis car ready for service"
    width={800}
    format="webp"
    loading="eager"
  />
  <p>
    We are the only taxi service in the area that can confidently offer our
    services at whatever time we are needed. You can rely on us,
    including all public holidays throughout the year.
  </p>
</ServiceLayout>
