---
interface Props {
  title: string;
  intro?: string;
}

const { title, intro } = Astro.props;
---

<div class="page-header">
  <div class="container">
    <h1>{title}</h1>
    {intro && <p>{intro}</p>}
  </div>
</div>
